

.app {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;

    display: grid;
    grid-template-columns: 557px 557px;
    grid-template-rows: 550px 550px;
    grid-column-gap: 20px;

    width: 1228px;
    height: 644px;
    background-color: $white;
    padding: 44px;
    border-radius: 37px;
    color: $veryDarkCyan;

    .input{
        @include input($text-align: right);
        width: 505px;
        height: 65px;


        background-color: $lightGrayishCyan2;
        text-align: right;

        padding: 20px;

        

    }
}

@mixin icon($imgLink) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        width: 24px;
        background: $imgLink center / contain no-repeat;
}
}

#dollar-sign {
    @include icon($imgLink: url(/images/icon-dollar.svg));
}

#people-icon {
    @include icon($imgLink: url(/images/icon-person.svg));
}