.app {
    margin: auto;
    font-size: $fontSmall;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    width: 76.75rem;
    height: 41.5rem;
    background-color: $white;
    padding: 2.75rem;
    border-radius: 2.3125rem;
    color: $veryDarkCyan;

    &-item {
        width: 34.5rem;
        height: 34.75rem;
    }

}

$breakpoints: (
    xs: 375px, // 375px
    sm:48.0em, // 768px
    m: 73.375rem, // 1174px
    norm: 76.75rem
);

@media only screen and (max-width: map-get($breakpoints, norm))  {
    .app {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: map-get($breakpoints, m))  {
    .app {

        width: auto;
        height: auto;

        &-item {
            justify-content: center;
            align-items: stretch;

            width: 100%;
            height: 100%;
            margin: auto;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        .calculator {
            &-item {
                .button-container {
                    width: 100%;

                    .button-item {
                        width: 47%;
                    }

                    .button-input {
                        width: 47%;
                    }
                }
            }

            .input {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, sm))  {
    html {
        font-size: 90%;
    }
}

@media only screen and (max-width: 37.5em)  {
    html {
        font-size: 80%;
    }

    .tip-and-total{
        padding: 1.5rem;

        button {
            margin-top: unset;
        }
    }

}

// 354px lowest width possible?