// https://www.youtube.com/watch?v=aoQ6S1a32j8&t=1381s
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    background-color: $lightGrayishCyan1;

    font-family: $font;
    font-weight: 300;
    line-height: 1.3;
}

.input{
    @include numinput();
    border: none;
    border-radius: 5px;
    background-color: $lightGrayishCyan2;
    text-align: right;
    cursor: pointer;

    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;

    padding: 24px;
    color: $veryDarkCyan;
    caret-color: $caretColor;
    box-shadow: none;

    &:hover {
        border: solid $strongCyan 2px;
    }

    &:focus {
        border: solid $strongCyan 2px;
        outline: none;
    }
}

.logo{
    @include center();
    width: 116px;
    height: 71px;
    margin-top: 80px;
    margin-bottom: 40px;

}

.outerbox {
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 557px 557px;
    grid-template-rows: 550px 550px;
    grid-column-gap: 20px;

    width: 1228px;
    height: 644px;
    background-color: $white;
    padding: 44px;
    border-radius: 37px;
    color: $veryDarkCyan;

}
