.grid {
    display: grid;
    grid-template-columns: 157px 157px 157px;
    grid-template-rows: 65px 65px 65px;
    column-gap: 18px;
    row-gap: 20px;

    &-item {
        @include fontSettings();
        font-size: 1.5rem;
        color: $white;
        cursor: pointer;
        background-color: $veryDarkCyan;
        border: none;
        border-radius: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 17px;
        padding-right: 17px;
        

        &:hover {
            background-color: $lightGrayishCyan3;
            color: $veryDarkCyan;
        }

        &-input {
            text-align: center;

            padding: 18px;


            @include input($text-align: right);
        }
    }
}