@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@mixin dollarsign {
    background-image: url("C:/Users/Francis/OneDrive/Desktop/frontend-practice/tip-calculator-app-main/images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 0.5625rem;
}

@mixin button-size {
    width: 3.75rem;
    height: 1.5625rem;
}

@mixin fontSettings {
    font-family: inherit;
    font-weight: bold;
}

@mixin input($text-align) {
    border: none;
    border-radius: 8px;
    color: $veryDarkCyan;
    caret-color: $caretColor;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        border: solid $strongCyan 2px;
    }

    &:focus {
        border: solid $strongCyan 2px;
        text-align: $text-align;
        outline: none;
    }
}