.tip-and-total {
    background-color: $veryDarkCyan;
    color: $white;

    border-radius: 1.25rem;
    padding: 3.5rem; //56px

    display: block;

    .header {
        font-size: $fontSmall;
        font-weight: bold;
        margin-top: 1.875rem;
        margin-block-end: 0.75rem;
    }
    
    .person {
        color: $darkGrayishCyan1;
        font-size: $fontSmall;
        font-weight: bold;
        margin-block: unset;
        margin-bottom: 5.0rem;
    }
    
    .amount {
        font-size: $fontExLarge;
        color: $strongCyan;
        font-weight: bold;
        margin-block: unset;
        float: right;
    }

    button {
        @include fontSettings();
        font-size: $fontMedium;
        background-color: hsl(172, 67%, 45%);
        color: hsl(184, 92%, 20%);

        cursor: pointer;

        border: none;
        border-radius: 5px;

        width: 100%;
        height: 4.0625rem;
        margin-top: 80px;

        &:disabled {
            cursor: default;
            background-color: hsl(183, 79%, 24%);
            // To keep it's background color when it's disabled
            &:hover {
                background-color: hsl(183, 79%, 24%);
            }
        }

        &:hover {
            background-color: $lightGrayishCyan3;
        }
    }
}
