@import "variables";
@import "mixins";


html{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: $lightGrayishCyan1;
}

.input{
    @include numinput();
    border: none;
    border-radius: 2px;
    background-color: $lightGrayishCyan2;
    text-align: right;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
    transition: border 200ms ease-in-out;
    color: $veryDarkCyan;

    &-bill{
        
        &:hover{
            border-color: $lightGrayishCyan1;
        }
    }

}

.logo{
    @include center();
    width: 2.8125rem;
    height: 1.875rem;
    padding-top: 5.125rem;
    padding-bottom: 2.75rem;
}

.outerbox{
    @include center();
    width: 28.8125rem;
    height: 15.1875rem;
    background-color: $white;
    padding: 1.125rem;
    border-radius: 0.625rem;
    color: $veryDarkCyan;
}

.select-tip{
    width: 11.9375rem;
    height: 4.625rem;


    @mixin button-size {
        width: 3.75rem;
        height: 1.5625rem;
    }

    button{
        @include button-size();
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.4375rem;
        padding-right: 1.4375rem;
        border: none;
        border-radius: 0.1875rem;
        background-color: $veryDarkCyan;
        font-size: 20px;
        text-align: center;
        margin: auto;
        font-weight: 700;
        color: $white;
        cursor: pointer;

        transition: color 200ms ease-in-out;

        &:hover{
            background-color: $lightGrayishCyan1;
            color: $veryDarkCyan;
        }
    }

    input{
        @include button-size();
        color: blue;
    }
}

.flex {
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }
}