html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  line-height: 1.3;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 116px;
  height: 71px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.tip-and-total {
  background-color: #00494d;
  color: white;
  border-radius: 1.25rem;
  padding: 3.5rem;
  display: block;
}
.tip-and-total .header {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.875rem;
  -webkit-margin-after: 0.75rem;
          margin-block-end: 0.75rem;
}
.tip-and-total .person {
  color: #5e7a7d;
  font-size: 1rem;
  font-weight: bold;
  margin-block: unset;
  margin-bottom: 5rem;
}
.tip-and-total .amount {
  font-size: 3.125rem;
  color: #26c0ab;
  font-weight: bold;
  margin-block: unset;
  float: right;
}
.tip-and-total button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #26c0ab;
  color: #045c62;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 4.0625rem;
  margin-top: 80px;
}
.tip-and-total button:disabled {
  cursor: default;
  background-color: #0d696e;
}
.tip-and-total button:disabled:hover {
  background-color: #0d696e;
}
.tip-and-total button:hover {
  background-color: #a1e8e0;
}

.calculator-item:not(:last-child) {
  margin-bottom: 50px;
}
.calculator-item .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 31.5625rem;
}
.calculator-item .button-container .button-input, .calculator-item .button-container .button-item {
  width: 9.8125rem;
  height: 4.0625rem;
  margin: 0.625rem 0;
  text-align: center;
}
.calculator-item .button-container .button-item {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  background-color: #00494d;
  border: none;
  border-radius: 0.5rem;
  padding: 1.0625rem;
  transition: color 400ms ease-in-out;
}
.calculator-item .button-container .button-item:hover {
  background-color: #a1e8e0;
  color: #00494d;
}
.calculator-item .button-container .button-input {
  padding: 1.125rem;
  border: solid transparent 2px;
  border-radius: 0.5rem;
  color: #00494d;
  caret-color: #6da29b;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 400ms ease-in-out;
}
.calculator-item .button-container .button-input:hover {
  border: solid #26c0ab 2px;
}
.calculator-item .button-container .button-input:focus {
  border: solid #26c0ab 2px;
  text-align: right;
  outline: none;
}
.calculator .input {
  border: solid transparent 2px;
  border-radius: 0.5rem;
  color: #00494d;
  caret-color: #6da29b;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 400ms ease-in-out;
  width: 31.5625rem;
  height: 4.0625rem;
  background-color: #f4fafa;
  text-align: right;
  padding: 1.25rem;
}
.calculator .input:hover {
  border: solid #26c0ab 2px;
}
.calculator .input:focus {
  border: solid #26c0ab 2px;
  text-align: right;
  outline: none;
}
.calculator p {
  color: #5e7a7d;
  font-size: 1rem;
  font-weight: bold;
}
.calculator p span {
  color: #b77d6c;
  float: right;
  visibility: hidden;
}

#dollar-sign {
  position: relative;
}
#dollar-sign::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 24px;
  background: url(/images/icon-dollar.svg) center/contain no-repeat;
}

#people-icon {
  position: relative;
}
#people-icon::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 24px;
  background: url(/images/icon-person.svg) center/contain no-repeat;
}

.app {
  margin: auto;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 76.75rem;
  height: 41.5rem;
  background-color: white;
  padding: 2.75rem;
  border-radius: 2.3125rem;
  color: #00494d;
}
.app-item {
  width: 34.5rem;
  height: 34.75rem;
}

@media only screen and (max-width: 76.75rem) {
  .app {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 73.375rem) {
  .app {
    width: auto;
    height: auto;
  }
  .app-item {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .app-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .app .calculator-item .button-container {
    width: 100%;
  }
  .app .calculator-item .button-container .button-item {
    width: 47%;
  }
  .app .calculator-item .button-container .button-input {
    width: 47%;
  }
  .app .calculator .input {
    width: 100%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 80%;
  }

  .tip-and-total {
    padding: 1.5rem;
  }
  .tip-and-total button {
    margin-top: unset;
  }
}/*# sourceMappingURL=style.css.map */